@using BlogApp.Controllers.Admin
@model List<Blog>
@{
    Layout = "_Layout";

    var pageModel = (BlogApp.Models.PageModel)ViewBag.PageModel;


    var searchModel = (BlogApp.Models.BlogSearchModel)ViewBag.SearchModel;

}

<div class="container mt-3">

    <div class="card p-3">

        <form asp-action="Index" asp-controller="Blog" asp-area="Admin" method="get">
            <div class="row">
                <div class="col-12 mb-4">
                    <a asp-action="Create" asp-controller="Blog" asp-area="Admin">Add new record</a>
                </div>

                <div class="col-4">

                    <input type="text" name="Title" value="@searchModel.Title" placeholder="Başlık" class="form-control form-control-sm " />
                </div>

                <div class="col-4">
                    <input type="date" placeholder="Oluşturulma Tarihi" value="@searchModel.CreatedDate" name="CreatedDate" class="form-control form-control-sm" />
                </div>
                <div class="col-4">


                    <button type="submit" class="btn btn-primary btn-sm w-100 float-end">Search</button>
                </div>



            </div>

        </form>

    </div>

    @if (searchModel != null && (!string.IsNullOrWhiteSpace(searchModel.Title) || searchModel.CreatedDate != DateTime.MinValue))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Arama yaptınız !</strong>

            Arama filtreler : @searchModel.Title
            @(searchModel.CreatedDate != DateTime.MinValue ? ", " + searchModel.CreatedDate : "")


            <a asp-action="Index" asp-controller="Blog" asp-area="Admin">Filtreleri Kaldır</a>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }




    @if (Model != null)
    {
        <div class="p-3">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>SeoUrl</th>
                        <th>Created Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var blog in Model)
                        {
                            <tr>
                                <td>@blog.Id</td>
                                <td>@blog.Title</td>
                                <td>
                                    <img src="~/images/@blog.ImageUrl" height="200" width="200"/>
                                </td>
                                <td>@blog.SeoUrl</td>
                                <td>@blog.CreatedDate</td>
                                <td>

                                    <a asp-action="AssignCategory" asp-controller="Blog" asp-area="Admin" asp-route-id="@blog.Id">Assign Category</a>

                                    <a asp-action="Update" asp-controller="Blog" asp-area="Admin" asp-route-id="@blog.Id">Update</a>
                                    <a onclick="return confirm('Silmek istediğinizden emin misiniz ?')" asp-action="Remove" asp-controller="Blog" asp-area="Admin" asp-route-id="@blog.Id">Remove</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center">Herhangi bir kayıt bulunamadı.</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    }

    <div class="float-end">
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= pageModel.PageCount; i++)
                {
                    <li class="page-item"><a class="page-link @(pageModel.ActivePage == i?"active":"")" asp-action="Index" asp-controller="Blog" asp-route-ActivePage="@i">@i</a></li>
                }





                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


</div>




<!--

 blog =>
   comment =>

  Berkay  +60 ilk projene
          +30 ikinci projene.


  Murat   +30 ilk proje
          +15 ikinci proje


   C#

    Razor Page

    Request => Cevap Vermede ve yorum yapmada Javascript kullanılabilir.
    Listelemede Javascript yasak.

    Yavuz : Cemil Selam,
        Cemil : Selam Yavuz,
            Hakan : Abi sizin kafalar iyimi
        Ayberk: Bize selam yok mu ?
            Hakan : Abi sakin ol
                Murat : Bırak da izleyelim (:
                    Ahmet Ali : Abi ortalığı karıştırma
            Hürrem : Sana selam yok.
        Zeynep : Selam,
            Hürrem : Selam,
                Murat : Selamına Selam
                    Cihan : Seninde Selamına Selam.
            Hakan : Selam,


-->
