@using BlogApp.Controllers.Admin
@model List<Blog>
@{
    Layout = "_Layout";
}

<div class="container mt-3">

    <div class="card p-3">
        
        <form>
            <div class="row">
                <div class="col-12 mb-4">
                    <a asp-action="Create" asp-controller="Blog" asp-area="Admin">Add new record</a>
                </div>
              
                <div class="col-4">
                   
                    <input type="text" name="Title" placeholder="Başlık" class="form-control form-control-sm " />
                </div>
                
                <div class="col-4">
                    <input type="date" placeholder="Oluşturulma Tarihi" name="CreatedDate" class="form-control form-control-sm" />
                </div>
                <div class="col-4">
                 

                    <button type="submit" class="btn btn-primary btn-sm w-100 float-end">Search</button>
                </div>


               
            </div>

        </form>
     
    </div>



    @if (Model != null)
    {
        <div class="p-3">
         
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>SeoUrl</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.Title</td>
                                <td>@category.SeoUrl</td>
                                <td>
                                    <a asp-action="Update" asp-controller="Blog" asp-area="Admin" asp-route-id="@category.Id">Update</a>
                                    <a onclick="return confirm('Silmek istediğinizden emin misiniz ?')" asp-action="Remove" asp-controller="Blog" asp-area="Admin" asp-route-id="@category.Id">Remove</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center">Herhangi bir kayıt bulunamadı.</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    }

   

</div>




<!--

 blog =>
   comment => 

   +60 

    Razor Page 

    Yavuz : Cemil Selam,
        Cemil : Selam Yavuz,
            Hakan : Abi sizin kafalar iyimi
        Ayberk: Bize selam yok mu ?
            Hakan : Abi sakin ol
                Murat : Bırak da izleyelim (:
                    Ahmet Ali : Abi ortalığı karıştırma
                            
-->
